<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mangala.app.traces">

    <application>
        <provider
            android:name="com.mangala.app.traces.AppStartUpTracer"
            android:authorities="${applicationId}.appStartProvider"
            android:initOrder="2147483647"
            android:exported="false" />
    </application>

</manifest>